<div class="message-container" id="message-<%= message.id %>">
  <div class="<%= local_assigns[:css_class_one] %>" data-sender-id="<%= message.user.id %>">
    <p><%= message.content %></p>
  </div>
  <p class="very-small white <%= local_assigns[:css_class_two] %> mb-2">
    <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
  </p>
</div>
