
<div class="px-4">
  <div class="close-btn text-right mt-3 mb-2">
    <% link_to user_chatrooms_path(current_user) do %>
      <%= image_tag "close.svg" %>
    <% end %>
  </div>

  <div class="top-chat d-flex justify-content-between align-items-center">
    <h2><%= @user.username %></h2>
    <%= cl_image_tag @user.photo.key, class: "user-img" %>
  </div>
</div>

  <div id="messages" data-chatroom-id="<%= @chatroom.id data-current-user-id="<%= current_user.id %>"%>">
     <% @chatroom.messages.each do |message| %>
      <% if message.user == current_user %>
        <%= render 'messages/message', message: message, css_class_one: 'message-current-user', css_class_two: 'text-right' %>
      <% else %>
        <%= render 'messages/message', message: message, css_class_one: 'message-chat-user', css_class_two: 'text-left'%>
      <% end %>
    <% end %>
  </div>

  <div class="chat-input">
    <%= simple_form_for [ @chatroom, @message ], remote: true, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :content, label: false, placeholder: "Enter here your message" %>
    <% end %>
  </div>
</div>
