<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "home-icon.svg"  %>
  <% end %>
  <%= link_to search_path do %>
    <%= image_tag "search-icon.svg", class: "navbar-icon"  %>
  <% end %>
  <%= link_to categories_path do %>
    <%= image_tag "explore-icon.svg", class: "navbar-icon-center" %>
  <% end %>
  <%# This if statement is temporary (so that sign up page does not break) %>
  <% if current_user %>
    <%= link_to user_chatrooms_path(current_user) do %>
      <%= image_tag "msgs-icon.svg", class: "navbar-icon not-working" %>
    <% end %>
  <% end %>
  <%= link_to  do %>
    <%= image_tag "profile-icon.svg", class: "not-working"  %>
  <% end %>
</div>
