<div class="navbar" id="home">
  <%= link_to root_path do %>
    <%= image_tag "home-icon.svg"  %>
  <% end %>
  <%= link_to search_path do %>
    <%= image_tag "search-icon.svg", class: "navbar-icon"  %>
  <% end %>
  <%= link_to categories_path do %>
    <%= image_tag "explore-icon.svg", class: "navbar-icon-center" %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_chatrooms_path(current_user) do %>
      <%= image_tag "msgs-icon.svg", class: "navbar-icon" %>
    <% end %>
    <%= link_to dashboard_path(current_user)do %>
      <%= image_tag "profile-icon.svg"  %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <%= image_tag "msgs-icon.svg", class: "navbar-icon" %>
    <% end %>
    <%= link_to new_user_session_path do %>
      <%= image_tag "profile-icon.svg"  %>
    <% end %>
  <% end %>
</div>
