<div class="container d-flex flex-column">

  <section class="intro-container">
    <div class="logo">
      <h1>Planet Exchange</h1>
      <small>Just borrow it!</small>
    </div>

    <div class="start">
      <small>Start your journey</small>
      <a href="javascript:;" class="btn btn-white" id="start-journey">let's go</a>
    </div>

    <div class="video-intro">
      <%= video_tag "video-intro.mp4", id: "videoBG", autoplay: true, muted: true, controls: false, loop: true %>
    </div>

  </section>

  <section class="onboarding-container" id="onboarding">
    <small>how does it work?</small>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag("explore.svg") %>
          <h2>Explore</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
        </div>

        <div class="swiper-slide">
          <%= image_tag("store-room.svg") %>
          <h2>Store</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
        </div>

        <div class="swiper-slide">
          <%= image_tag("save-the-planet.svg") %>
          <h2>Save</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div class="onboarding-next">
      <div class="pagination"></div>
      <a href="javascript:;" id="btn-onboarding" class="btn btn-white">Continue</a>
    </div>

  </section>

  <section class="choices" id="choices">
    <h2 class="text-center">What do you want to do?</h2>

    <div class="choice-item">
      <%= image_tag "browse-items.svg", class: "choice-img" %>
      <a href="javascript:;"  id="btn-browse" >
        <div class="big-button">
          <small>Browse all items</small>
          <%= image_tag("arrow.svg") %>
        </div>
      </a>
    </div>
    <div class="choice-item">
      <%= image_tag"create-store-room.svg", class: "choice-img" %>
      <a href="/storages/new">
        <div class="big-button">
          <small style="max-width:150px">Create your storage room</small>
          <%= image_tag("arrow.svg") %>
        </div>
      </a>
    </div>
  </section>

  <section class="browse" id="browse">
    <h2 class="text-center">What are you looking for ?</h2>
    <%= render 'shared/search_bar' %>
    <%# <input id="#search" placeholder="Shelves, Table, Ball, Tent, ..."> %>
    <p class="text-center mt-4">or select here the category of the activity that you would like to do.</p>
    <div class="categories">
      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <div class="category-icon"><%= cl_image_tag category.photo.key %></div>
        <% end %>
      <% end %>
    </div>
  </section>

</div>
