<div class="on-mobile"><h1>Watch it on your mobile please!</h1></div>

<div class="login p-4 text-right">
  <% if user_signed_in? %>
    <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "LOG IN", user_session_path %>
  <% end  %>
</div>

<div class="container d-flex flex-column">

  <section class="intro-container">
    <div class="logo">
      <h1>Planet Exchange</h1>
      <small>Borrow what you need</small>
    </div>

    <div class="start">
      <small>Get started</small>
      <%= image_tag("arrow-white.svg") %>
    </div>

    <div class="video-intro">
      <%= video_tag "video-intro.mp4", "video-intro.webm", "video-intro.ogv", id: "videoBG", autoplay: true, muted: true, controls: false, loop: true, playsinline: true %>
    </div>

  </section>
</div>
<div class="d-flex flex-column">

  <section class="onboarding-container" id="onboarding">
    <small class="text-center">how does it work?</small>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide px-4 pb-4">
          <%= image_tag("explore.svg") %>
          <h2>Explore</h2>
          <p class="text-left">Meet people around you and help each other out.
            Borrow an object in exchange for another, meet over a drink, make friends and more!</p>
        </div>

        <div class="swiper-slide pr-4 pl-4">
          <%= image_tag("store-room.svg") %>
          <h2>Store</h2>
          <p class="text-left">Create your own virtual storage room to help other users around you get started with their business.
            Let them know what you have available.</p>
        </div>

        <div class="swiper-slide pr-4 pl-4">
          <%= image_tag("save-the-planet.svg") %>
          <h2>Save</h2>
          <p class="text-left">Calculate and reduce your carbon footprint by exchanging items instead of buying them.
          Save the planet and make friends!</p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div class="onboarding-next">
      <div class="pagination"></div>
      <a href="javascript:;" id="btn-onboarding" class="btn btn-white">Continue</a>
    </div>

  </section>
</div>

<div class="container d-flex flex-column">

  <section class="choices" id="choices">
    <h2 class="text-center">What do you want to do?</h2>

    <div class="choice-item">
      <%= image_tag "browse-items.svg", class: "choice-img" %>
      <a href="javascript:;"  id="btn-browse" >
        <div class="big-button">
          <small>Browse all items</small>
          <%= image_tag "arrow.svg", class: "icon" %>
        </div>
      </a>
    </div>
    <div class="choice-item">
      <%= image_tag"create-store-room.svg", class: "choice-img" %>
      <%= link_to new_storage_path do %>
        <div class="big-button">
          <small style="max-width:150px">Create your storage room</small>
          <%= image_tag "arrow.svg", class: "icon" %>
        </div>
      <% end  %>
      </a>
    </div>
  </section>

  <section class="browse" id="browse">
    <h2 class="text-center mb-4">What are you looking for ?</h2>
    <p class="text-center mt-5">Look here for a specific item</p>
    <%= render 'shared/search_bar' %>

    <p class="text-center mt-5 mb-2">Select here the activity's category that you would like to do.</p>
    <div class="grid">
      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <div class="button-link-white">
            <small><%= category.name %></small>
            <%= cl_image_tag category.photo.key %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

</div>
