<div class="container">
  <h2><%= @activity.name %></h1>
  <%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <div class="you-may-need mt-4">
      <p>For this activity, you may need</p>
      <div class="checkbox-holder">
          <% @activity.items.each do |item|%>
          <div class="checkbox-item">
              <%= check_box_tag("search_array[]", item.name, false, data: { carbon: item.carbon_footprint, space: item.space_taken, price: item.avg_price }) %>
              <%= label_tag(item.name, "#{item.name}") %>
          </div>
          <% end %>
      </div>
      <div class="text-center mt-3 mb-4 w-50 btn-submit-center">
        <%= f.submit "Search", class: "btn btn-white" %>
      </div>
    </div>
    <div class="mt-4">An item is missing ? Search it
    <%= render 'shared/search_bar' %></div>
  <% end %>

  <div class="calculator">
    <div class="calculator-row d-flex justify-content-around align-items-center">
      <%= image_tag "earth.svg" %>
      <div class="d-flex flex-column">
        <span>You saved</span>
        <div class="d-flex">
        <h3 id="carbon_value">0</h3>
        <span class="quantity">CO2</span></div>
      </div>
    </div>
    <div class="calculator-row d-flex justify-content-around align-items-center">
      <div class="d-flex flex-column">
        <span>You saved</span>
        <div class="d-flex"><h3 id="space_value">0</h3><span class="quantity">m²</span></div>
      </div>
      <%= image_tag "box.svg" %>
    </div>
    <div class="calculator-row d-flex justify-content-around align-items-center">
      <%= image_tag "money.svg" %>
      <div class="d-flex flex-column">
        <span>You saved</span>
        <div class="d-flex"><h3 id="price_value">0</h3><span class="quantity">€</span></div>
      </div>
    </div>
  </div>

</div>
