<!DOCTYPE html>
<html>
  <head>
    <title>Planet Exchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= image_path("favicon.png") %>" sizes="any">
    <link rel="icon" href="<%= image_path("favicon.svg") %>" type="image/svg+xml">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
   <%
=begin%>
 <%= render "shared/navbar" %>
<%
=end%>
    <%= yield %>
  </body>
</html>
