<!DOCTYPE html>
<html>
  <head>
    <title>Planet Exchange - Just borrow it !</title>
    <meta name="description" content="Meet people around you and help each other out. Borrow an object in exchange for another, meet over a drink, make friends and more!">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Planet Exchange - Just borrow it !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="meta_img.png" />
    <meta property="og:description" content="Meet people around you and help each other out. Borrow an object in exchange for another, meet over a drink, make friends and more!" />
    <meta property="og:site_name" content="Planet Exchange - Just borrow it !" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= image_path("favicon.png") %>" sizes="any">
    <link rel="icon" href="<%= image_path("favicon.svg") %>" type="image/svg+xml">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
 <% if !current_page?("/") %>
    <%= render "shared/navbar" %>
  <% end %>
    <%= yield %>
  </body>
</html>
